table {
  width: 100%;
}
.matfieldDate {
  width: 180px;
}

.inputDate {
  height: 22px;
}

.matfielSelect {
  top: -6px;
}
.SpaceLeft {
  margin-left: 1.5rem;
}
div .mat-form-field-flex {
  margin-bottom: 0.5rem;
}
