<mat-card class="mb-2">
  <mat-card-title>Importar de Sistemas CORE</mat-card-title>
  <hr>
  <mat-card-content>
      <mat-form-field>
          <mat-select placeholder="Producto" [(ngModel)]="productoSeleccionado" name="producto" [required]="isRequired">
              <mat-option [value]="0">-Seleccione-</mat-option>
              <mat-option *ngFor="let Producto of ListaProducto" [value]="Producto.idProducto">{{Producto.descProducto}}</mat-option>
          </mat-select>
      </mat-form-field>
      <div class="mb-1">
        <mat-form-field>
            <input matInput placeholder="Fecha Inicio" [matDatepicker]="pickerStart" [(ngModel)] = "fechaDesdeSeleccionado" ><!--[required]="isRequired"-->
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
     </div>
     <div class="mb-1">
        <mat-form-field>
            <input matInput placeholder="Fecha Fin" [matDatepicker]="pickerEnd" [(ngModel)] = "fechaHastaSeleccionado" ><!--[required]="isRequired"-->
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
     </div>
  <div class="pb-1">
      <mat-card-actions>
          <button mat-button color="purple" (click)="openDialog()" >Importar</button> <!--[disabled]="enabledButtonImportar()"-->
      </mat-card-actions>
  </div>
  </mat-card-content>
</mat-card>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Procesando..." type="ball-pulse-sync">
</ngx-spinner>
