.etiqueta {
    color: #757575;
}

button.mat-orange:disabled {
    color: #757575 !important;
}

table 
{
    width: 100%;
}

.matfieldDate
{
    width: 180px;  
}
  
.inputDate
{
    height: 22px;
}
  
.matfielSelect
{
    top: -6px;
}

.ColorGreen {
    color: '#1DA01F';
}

.ColorBlack {
    color: '#FFF';
}