.btn-validar{
    margin-right:10px;
}

.btn-exportar{
    float: right; 
    clear: both;
}

.tabla-lote{
  
    width: 100%
}
.mat-column-select {
    overflow: initial;
  }

.tabla-excel{
    table-layout: fixed; 
    width: 50%
}

.cell-align-center{
    text-align: center;
}
.cell-align-left{
   text-align: left;
}
.cell-align-right{
   text-align: right;
}
.cell-align-justify{
   text-align: justify;
}
.make-gold{
   
}
.customWidthClass{
    flex: 0 0 75px;
    max-width: 350px;
 }
 .rightclass{
  
 }