<form #myForm="ngForm" name="ngForm">
        <mat-card-title>Forma de Pago</mat-card-title> 
        <hr>
        <mat-dialog-content>  
            <div class="mb-1">
            <mat-form-field>
                <input matInput placeholder="Suma de Planilla" name="sumaplanilla" [ngModel]="sumaplanilla | number:'.2-5'" [required]="true" disabled >                
            </mat-form-field>
            <mat-form-field class="right">
                <input (keypress) =  "quotationNumberPressed($event)" matInput placeholder="Fecha de Operacion" [matDatepicker]="pickerEnd" name="fechaoperacion"  [(ngModel)]="fechaoperacion" [required]="true" >
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd disabled="false" ></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="right">
                <input  (keypress) =  "NumberPressedD($event)"  matInput type="text" maxlength="18"  placeholder="Importe"  min="1" (keypress)="documentNumberKeyPress($event)"  name="importe" [(ngModel)]="importe"  [required]="true">                
            </mat-form-field>
            <mat-form-field class="right">
                <input (keypress) =  "NumberPressedDOperacion($event)" matInput type="text"  maxlength="20"  placeholder="Número de operación" name="nrooperacion" [(ngModel)]="nrooperacion" [required]="true">                
            </mat-form-field>
          </div>
            <div class="mb-1">
         <mat-form-field class="">             
            <mat-select placeholder="Seleccione una moneda" name="defectomoneda" [(ngModel)]="defectomoneda" [required]="true"  disabled >
                <mat-option *ngFor="let option of opcionMoneda"  [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>         
        </mat-form-field>
        
            <mat-form-field *ngIf="ConManual" class="right"  >
                <mat-select  placeholder="Seleccione un banco" (ngModelChange)="onChangeSelecBanco($event)"  name="idEntidadBancaria" [(ngModel)]="idEntidadBancaria" [required]="ConManual">
                    <mat-option *ngFor="let option of listabancos" [value]="option.idBanco">{{ option.descripcionBanco }}</mat-option>
                </mat-select>
                </mat-form-field>  
      
                <mat-form-field class="right">
                <mat-select placeholder="Seleccione un tipo de pago"  name="defectotipopago" [(ngModel)]="defectotipopago" [required]="true">
                    <mat-option *ngFor="let option of opcionTipoPago" [value]="option.id">{{ option.name }}</mat-option>
                </mat-select>
            </mat-form-field>  
            <mat-form-field class="right">
                <mat-select placeholder="Seleccione una cuenta" name="defectocuenta" [(ngModel)]="defectocuenta" [required]="true">
                    <mat-option *ngFor="let option of opcionCuenta" [value]="option.idCuenta">{{ option.descripcionCuenta }}</mat-option>
                </mat-select>
            </mat-form-field>         
            
           
            <mat-form-field *ngIf="!ConManual" class="right">
              <input matInput placeholder="Banco" name="banco" [(ngModel)]="banco" [required]="true" disabled >                
          </mat-form-field>
          

        
               
                </div>
                <div class="mb-1">
                  <mat-form-field class="right">
                      <input matInput placeholder="Referencia" name="referencia" [(ngModel)]="referencia" [required]="false" >       
                            
                  </mat-form-field>
                  <mat-dialog-actions class="btn-pago">
                        <button mat-raised-button color="accent" (click)="agregarPago(myForm)">Agregar Pago</button>           
                      </mat-dialog-actions>  
                    </div>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourcePago" class="tabla-formapago" matSort>
            
                  <!-- IdPlanilla Column -->
                  <ng-container matColumnDef="NLote">
                    <th mat-header-cell *matHeaderCellDef> Nro. Lote </th>
                    <td mat-cell *matCellDef="let element"> {{element.NLote}} </td>
                  </ng-container>
            
                  <!-- fechaPlanilla Column -->
                  <!--<ng-container matColumnDef="Moneda">
                    <th mat-header-cell *matHeaderCellDef> Moneda</th>
                    <td mat-cell *matCellDef="let element"> {{element.Moneda}} </td>
                  </ng-container>-->
                  <!-- fechaPlanilla Column -->
                  <ng-container matColumnDef="DescMoneda">
                    <th mat-header-cell *matHeaderCellDef>Moneda</th>
                    <td mat-cell *matCellDef="let element"> {{element.DescMoneda}} </td>
                  </ng-container>
                  
            
                  <!-- totalPlanilla Column -->
                  <!--<ng-container matColumnDef="TipoPago">
                    <th mat-header-cell *matHeaderCellDef> Tipo de Pago</th>
                    <td mat-cell *matCellDef="let element"> {{element.TipoPago}} </td>
                  </ng-container>-->
                  <!-- fechaPlanilla Column -->
                  <ng-container matColumnDef="DescTipoPago">
                    <th mat-header-cell *matHeaderCellDef>Tipo de Pago </th>
                    <td mat-cell *matCellDef="let element"> {{element.DescTipoPago}} </td>
                  </ng-container>
            
                  <!-- totalPlanilla Column -->
                  <ng-container matColumnDef="Banco">
                    <th mat-header-cell *matHeaderCellDef> Banco </th>
                    <td mat-cell *matCellDef="let element"> {{element.Banco}} </td>
                  </ng-container>
    
                  <!-- totalPlanilla Column -->
                  <!--<ng-container matColumnDef="Cuenta">
                    <th mat-header-cell *matHeaderCellDef> Cuenta</th>
                    <td mat-cell *matCellDef="let element"> {{element.Cuenta}} </td>
                  </ng-container>-->
                  <!-- fechaPlanilla Column -->
                  <ng-container matColumnDef="DescCuenta">
                    <th mat-header-cell *matHeaderCellDef>Cuenta</th>
                    <td mat-cell *matCellDef="let element"> {{element.DescCuenta}} </td>
                  </ng-container>
            
                  <!-- totalPlanilla Column -->
                  <ng-container matColumnDef="NroOperacion">
                    <th mat-header-cell *matHeaderCellDef> Nro. Operacion</th>
                    <td mat-cell *matCellDef="let element"> {{element.NroOperacion}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha</th>
                    <td mat-cell *matCellDef="let element"> {{element.Fecha  }} </td>
                  </ng-container>
                  <ng-container matColumnDef="Importe">
                      <th mat-header-cell *matHeaderCellDef> Importe</th>
                      <td mat-cell *matCellDef="let element" class="cell-align-right" > {{element.Importe | number:'.2-5' }} </td>
                    </ng-container>
                    <ng-container matColumnDef="Accion">                       
                        <th mat-header-cell *matHeaderCellDef> Accion</th>
                        <mat-cell mat-cell *matCellDef="let element; let i = index">
                          <button mat-button color="primary" (click)="onDelete(i)"><mat-icon>delete</mat-icon></button>  
                            </mat-cell>
                      </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsPago"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsPago;"></tr>
                </table>
            
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </mat-dialog-content>
            
            <hr>
            <mat-dialog-actions class="btn-acciones">
              <button mat-raised-button color="accent" (click)="aplicarPago()"> Generar Planilla </button>
              <button class="mat-raised-button"mat-button [mat-dialog-close]="false">Cancelar</button>
            </mat-dialog-actions>       
          
        </form>