.btn-pago{
    float: right; 
    clear: both;
}
.tabla-formapago{
    table-layout: 
    fixed; width: 100%;
}
.btn-acciones{
    float: right;
     clear: both;
}
.make-gold{
    background-color: gold;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}