<div fxLayout="row" fxLayoutWrap="wrap">
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
   <div fxFlex.gt-sm="33.33%" fxFlex="100" class="m-gap p-gap">
   </div>
   <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100" class="m-gap p-gap">
   </div>
   <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100" class="m-gap p-gap">
   </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
   <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="66.66" fxFlex.lg="66.66" fxFlex.xl="66.66" fxFlex="100" class="m-gap p-gap">
   </div>
   <div class="column" fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100">
   </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
   <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="66.66" fxFlex.lg="66.66" fxFlex.xl="66.66" fxFlex="100" class="m-gap p-gap">
   </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
   <div fxFlex.gt-sm="33.33%" fxFlex="100" class="m-gap p-gap">
   </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
   <div fxFlex.gt-sm="33.33%" fxFlex="100" class="m-gap p-gap">
   </div>
   <div fxFlex.gt-sm="33.33%" fxFlex="100" class="m-gap p-gap">
   </div>
   <div fxFlex.gt-sm="33.33%" fxFlex="100" class="m-gap p-gap">
   </div>
</div>