<p>
  financiamiento-cuponera works!
</p>
<mat-card class="mb-2">
  <mat-card-title>Tratamiento Cuponera</mat-card-title>
  <hr />
  <mat-card-content>
    <form #myForm="ngForm" name="ngForm">
      <div class="mb-1">
        <mat-card-actions
          align="end"
          style="width: 100%;"
          class="mat-card-trama"
        >
          <button
            mat-raised-button
            color="primary"
            name="btnBuscar"
            (click)="onValidarBusqueda(myForm)"
          >
            Ingresar
          </button>
          <button
            type="button"
            mat-raised-button
            (click)="onExportarExcel()"
            name="btnExportar"
            color="primary"
          >
            Procesar
          </button>
          <button
            type="button"
            mat-raised-button
            (click)="onExportarExcel()"
            name="btnExportar"
            color="primary"
          >
            Grabar
          </button>
          <button
            type="button"
            mat-raised-button
            (click)="onExportarExcel()"
            name="btnExportar"
            color="primary"
          >
            Limpiar
          </button>
        </mat-card-actions>
      </div>
      <mat-form-field style="width: 30%;">
        <mat-select
          placeholder="Transación Cuponera"
          [(ngModel)]="idEntidadBancaria"
          name="idEntidadBancaria"
        >
          <mat-option
            *ngFor="let option of ListTipoTransacion"
            [value]="option.name"
            >{{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="inputText SpaceLeft" style="width: 30%;">
        <input
          (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
          matInput
          placeholder="N° Recibo"
          [(ngModel)]="idPlanillaFiltro"
          class="inputPlanilla"
        />
      </mat-form-field>

      <mat-form-field class="inputText SpaceLeft" style="width: 30%;">
        <input
          (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
          matInput
          placeholder="N° Cuponera"
          [(ngModel)]="idPlanillaFiltro"
          class="inputPlanilla"
        />
      </mat-form-field>

      <div class="mb-1">
        <mat-form-field style="width: 20%;">
          <input
            matInput
            placeholder="Fecha"
            [max]="maxDate"
            [matDatepicker]="pickerStart"
            [(ngModel)]="fechaInicio"
            name="fechaInicio"
            disabled
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerStart"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="inputText SpaceLeft" style="width: 50%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="Nombre cliente"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
      </div>

      <div
        class="mb-1"
        style="
          border-bottom: 1.5px solid #163764;
          color: #163764;
          font-weight: 800;
        "
      >
        <label style="margin-right: 1rem;">Datos de Verificación</label>
      </div>

      <div class="mb-1">
        <mat-form-field class="inputText" style="width: 30%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="Ramo"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>

        <mat-form-field class="inputText SpaceLeft" style="width: 30%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="Producto"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
        <mat-form-field class="inputText SpaceLeft" style="width: 30%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="N° Poliza"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
      </div>

      <div class="mb-1">
        <mat-form-field class="inputText" style="width: 20%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="N° Certificado"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
        <mat-label class="SpaceLeft" style="font-weight: 800;"
          >Vigencia del recibo Desde :</mat-label
        >
        <mat-form-field class="inputText SpaceLeft" style="width: 20%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder=""
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
        <mat-label class="SpaceLeft" style="font-weight: 800;"
          >Hasta :</mat-label
        >
        <mat-form-field class="inputText SpaceLeft" style="width: 20%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder=""
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
      </div>

      <div
        class="mb-1"
        style="
          border-bottom: 1.5px solid #163764;
          color: #163764;
          font-weight: 800;
        "
      >
        <label style="margin-right: 1rem;">Tratamiento de Cuponera</label>
      </div>

      <div class="mb-1">
        <mat-form-field class="inputText" style="width: 30%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="Cant° Cupones"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>

        <mat-form-field class="inputText SpaceLeft" style="width: 30%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="Monto Inicial"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
        <mat-form-field class="inputText SpaceLeft" style="width: 30%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="Monto Prima"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
      </div>

      <div class="mb-1">
        <mat-form-field class="inputText" style="width: 30%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="Monto Cupon"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
        <mat-form-field class="inputText SpaceLeft" style="width: 30%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="% de Interes"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
        <mat-form-field class="inputText SpaceLeft" style="width: 30%;">
          <input
            (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
            matInput
            placeholder="Fecha de Pago"
            [(ngModel)]="idPlanillaFiltro"
            class="inputPlanilla"
            readonly
          />
        </mat-form-field>
      </div>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceTrama" class="tabla-trama">
          <!-- IdPlanilla Column -->
          <!-- <ng-container matColumnDef="CuentaProtecta">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Nro de Cuenta</th>
          <td mat-cell *matCellDef="let element"  class="cell-align-center"> {{element.numeroCuenta}} </td>
        </ng-container>-->

          <!-- totalPlanilla Column -->
          <ng-container matColumnDef="Tipo Doc">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center">
              Cupon
            </th>
            <td mat-cell *matCellDef="let element" class="cell-align-center">
              {{ element.descTipoDoc }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Ruc">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center">
              Recibo
            </th>
            <td mat-cell *matCellDef="let element" class="cell-align-center">
              {{ element.documento }}
            </td>
          </ng-container>

          <!-- fechaPlanilla Column -->
          <ng-container matColumnDef="Contratante">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center">
              Fecha Desde
            </th>
            <td mat-cell *matCellDef="let element" class="cell-align-justify">
              {{ element.nombreContratante }}
            </td>
          </ng-container>

          <!-- totalPlanilla Column -->
          <ng-container matColumnDef="Cod. Proforma">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center">
              Fecha Hasta
            </th>
            <td mat-cell *matCellDef="let element" class="cell-align-center">
              {{ element.codigoProforma }}
            </td>
          </ng-container>

          <ng-container matColumnDef="N° Recibo">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center">
              Fecha de Pago
            </th>
            <td mat-cell *matCellDef="let element" class="cell-align-center">
              {{ element.numeroRecibo }}
            </td>
          </ng-container>

          <!-- totalPlanilla Column -->
          <ng-container matColumnDef="Fecha Emisión">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center">
              Monto de Cupón
            </th>
            <td mat-cell *matCellDef="let element" class="cell-align-center">
              {{ element.fechaEmision }}
            </td>
          </ng-container>

          <!-- totalPlanilla Column -->
          <ng-container matColumnDef="Fecha Vencimiento">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center">
              Estado
            </th>
            <td mat-cell *matCellDef="let element" class="cell-align-center">
              {{ element.fechaVencimiento }}
            </td>
          </ng-container>

          <!--<ng-container matColumnDef="Mora">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Mora</th>
          <td mat-cell *matCellDef="let element"  class="cell-align-right"> {{element.importeMora}} </td>
        </ng-container>

        <ng-container matColumnDef="Monto Mínimo" class=".cell-width">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Monto Mínimo</th>
          <td mat-cell *matCellDef="let element" class="cell-align-right"> {{element.importeMontoMinimo}} </td>
        </ng-container>-->

          <tr mat-header-row *matHeaderRowDef="displayedColumnsTrama"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTrama"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[20, 50, 100]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </form>
  </mat-card-content>

  <hr />
  <mat-card-content align="end">
    <div class="mb-1">
      <mat-form-field class="inputText" style="width: 30%;">
        <input
          (keypress)="this.utilityService._kpPolicy($event, idPlanillaFiltro)"
          matInput
          placeholder="Total Financiado"
          [(ngModel)]="idPlanillaFiltro"
          class="inputPlanilla"
          readonly
        />
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
