<mat-card class="mb-2">
  <mat-card-title>Generar Trama</mat-card-title>
  <hr>
  <mat-card-content>
      <form #myForm="ngForm" name="ngForm">
      <mat-form-field>
        <mat-select placeholder="Seleccione un producto" [(ngModel)]="idProducto" name="idProducto" [required]="true">
          <mat-option *ngFor="let option of listaproductos" [value]="option.idProducto">{{ option.descProducto }}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Seleccione un banco" [(ngModel)]="idEntidadBancaria" name="idEntidadBancaria" [required]="true" >
          <mat-option *ngFor="let option of listabancos" [value]="option.idBanco">{{ option.descripcionBanco }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mb-1">
        <mat-form-field>
          <input matInput placeholder="Fecha Inicio" [max]="maxDate" [matDatepicker]="pickerStart"
            [required]="true" [(ngModel)]="fechaInicio" name="fechaInicio">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Fecha Fin" [matDatepicker]="pickerEnd" [min] = ""
            [(ngModel)]="fechaFin" name="fechaFin" [required]="true" > 
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
        <mat-card-actions class="mat-card-trama">
          <button mat-raised-button color="primary" name="btnBuscar" (click)="onValidarBusqueda(myForm)"> Buscar
          </button>
            <button type="button" mat-raised-button  (click)="onExportarExcel()" name="btnExportar"  color="primary" >Exportar</button> 
          <input hidden (change)="onFileSelected($event.target.files[0])" name="fileSelected" #fileInput type="file" accept=".xlsx"
            id="file" >
          <input hidden matInput disabled [(ngModel)]='srcResult' name="result">
        </mat-card-actions>
      </div>
   
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceTrama" class="tabla-trama">

        <!-- IdPlanilla Column -->
        <!-- <ng-container matColumnDef="CuentaProtecta">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Nro de Cuenta</th>
          <td mat-cell *matCellDef="let element"  class="cell-align-center"> {{element.numeroCuenta}} </td>
        </ng-container>-->


        <!-- totalPlanilla Column -->
        <ng-container matColumnDef="Tipo Doc">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Tipo Documento</th>
            <td mat-cell *matCellDef="let element"  class="cell-align-center"> {{element.descTipoDoc}} </td>
          </ng-container>

        <ng-container matColumnDef="Ruc">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Documento</th>
            <td mat-cell *matCellDef="let element"  class="cell-align-center"> {{element.documento}} </td>
          </ng-container>


        <!-- fechaPlanilla Column -->
        <ng-container matColumnDef="Contratante">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Contratante</th>
          <td mat-cell *matCellDef="let element"  class="cell-align-justify"> {{element.nombreContratante}} </td>
        </ng-container>
      
        

        <!-- totalPlanilla Column -->
        <ng-container matColumnDef="Cod. Proforma">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Cod. Proforma </th>
          <td mat-cell *matCellDef="let element"  class="cell-align-center"> {{element.codigoProforma}} </td>
        </ng-container>

        <ng-container matColumnDef="N° Recibo">
            <th mat-header-cell *matHeaderCellDef class="cell-align-center">N° Recibo</th>
            <td mat-cell *matCellDef="let element"  class="cell-align-center"> {{element.numeroRecibo}} </td>
          </ng-container>


        <!-- totalPlanilla Column -->
        <ng-container matColumnDef="Fecha Emisión">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Fecha Emisión</th>
          <td mat-cell *matCellDef="let element"  class="cell-align-center"> {{element.fechaEmision}} </td>
        </ng-container>

        <!-- totalPlanilla Column -->
        <ng-container matColumnDef="Fecha Vencimiento">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Fecha Vencimiento</th>
          <td mat-cell *matCellDef="let element" class="cell-align-center"> {{element.fechaVencimiento}} </td>
        </ng-container>

        <ng-container matColumnDef="Importe">
          <th mat-header-cell *matHeaderCellDef class="cell-align-right"> Importe</th>
          <td mat-cell *matCellDef="let element"class="cell-align-right"> {{element.importe}} </td>
        </ng-container>

        <!--<ng-container matColumnDef="Mora">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Mora</th>
          <td mat-cell *matCellDef="let element"  class="cell-align-right"> {{element.importeMora}} </td>
        </ng-container>

        <ng-container matColumnDef="Monto Mínimo" class=".cell-width">
          <th mat-header-cell *matHeaderCellDef class="cell-align-center"> Monto Mínimo</th>
          <td mat-cell *matCellDef="let element" class="cell-align-right"> {{element.importeMontoMinimo}} </td>
        </ng-container>-->

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTrama"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTrama;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</form>
  </mat-card-content>

  <hr>
  <mat-card-actions>  
    <button mat-raised-button color="primary" (click)="onGenerarTrama()"> Generar Trama </button>
  </mat-card-actions>

</mat-card>