.mat-card-trama{
    float: right; 
    clear: both;
}
.tabla-trama{  
    width: 100%;
}
.cell-align-center{
     text-align: center;
}
.cell-align-left{
    text-align: left;
}
.cell-align-right{
    text-align: right;
}
.cell-align-justify{
    text-align: justify;
}
